<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/901c43a415.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <form action="" method="POST">

    <label for="nombreUsuario">Nombre de Usuario</label>
    <input type="text" name="nombreUsuario" placeholder="Nombre de Usuario">
    
    <label for="contrasenia">Contraseña</label>
    <input type="text" name="contrasenia" placeholder="Contraseña">

    <a href="/"><button type="submit">Enviar</button></a>
</form>
</body>

</html>