footer{
    padding: 20px 15px 10px;
    background-color: var(--grisClaro);
    width: 100%;
}

footer section{
    text-align: center;
    background-color: white;
    width: 95%;
    height: 95%;
}

footer i{
    color: var(--celeste);
    font-size: 27px;
}

footer h3{
    color: var(--grisOscuro);
    font-size: var(--descripciones);
}

footer p{
    color: var(--grisOscuro);
    font-size: var(--cuerposDeTexto);

}

footer h4{
    color: var(--grisOscuro);
    font-size: var(--cuerposDeTexto);
    text-align: start;
}