*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}



body{
    width: 100%;
    margin: 0 auto; 
    background-size: cover;
    font-family: var(--fuente);
    background-color: var(--grisClaro);
}