header{
    width: 100%;
    height: auto;
    background-color: var(--amarillo);
}

header .top{

}

header .logo img{
    width: 35%;
    margin-top: 29px;
    margin-left: 26px;
    margin-bottom: 11px;
}

header .buscador{
    width: 55%;
    margin-left: 18px;
}

header .cuotas{
    width: 100%;
    margin-top: 25px;
    text-align: center;
    color: var(--azul);
    font-size: var(--cuerposDeTexto);
}

header .lista1 a{
    font-size: var(--cuerposDeTexto);
    color: var(--azul);
    margin-left: 18px;
}

header ul{
    margin-top: 14px;
}

header .lista2 a{
    font-size: var(--cuerposDeTexto);
    color: var(--azul);
    margin-left: 18px; 
}

header .lista2 i{
    margin-left: 5px;
}

header .lista2{
    padding-bottom: 17px;
}

header .burguerMenu{
    text-align: center;
}

header .burguerMenu i{
    text-align: center;
    color: white;
    background-color: var(--celeste);
    padding: 10px;
    border-radius: 5px;
    margin: 21px;
    font-size: 21px;
}

header .burguer{
    display: none;
}

@media (min-width:361px){
    header .burguer{
        display: block;
    }
    header .burguerMenu{
        display: none;
    }
}

@media (min-width:769px){

}


