main section article .envio i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: var(--verde);
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    z-index: 1;
}

main{
    width: 90%;
    margin: 0 auto;

}

main .section1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main .section2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main article{
    text-align: start;
    border-top: 1px solid #ebebeb;
    padding: 10px;
    position: relative;

}

main .articulo{
    background-color: #FFF;
    width: 304px;
    height: 401px;
}

main .caja{
    border-top: 1px solid #ebebeb;
    
    width: 100%;
    padding: 17px;
    position: relative;
}

main .imagen img{
    width: 100%;
}
/* 
main .envio{
    text-align: start;
    color: var(--verde);
    border-radius: 100%;
    border: 1px solid var(--verde);
    width: 10px;
    height: 10px;
    padding: 10px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-bottom: 7px;
} */

main .precioDescuento{
    display: flex;
    flex-direction: row;

}


main .precio{
    font-size: var(--precios);
    width: 30%;

}

main .descuento{
    font-size: var(--descuentos);
    color: var(--verde);
    margin-left: 10px;
}

main .descuento p{
    width: 70%;
    margin: 0;
}

main h2{
    color: var(--grisOscuro);
    font-size: var(--titulares);
    padding: 17px;
    padding-left: 10px;
}

main h4{
    color: var(--grisOscuro);
    font-size: var(--descripciones);
    padding-top: 17px;
    visibility: hidden;
}

.banner img{
    width: 100%;
    position: relative;
}


@media (min-width:361px){
    main .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main h4{
        visibility: visible;
        padding-top: 25px;
        color: var(--grisOscuro);
        font-size: var(--descripciones);
        padding-bottom: 22px;
    }   
}

@media (min-width:769px){

}