main{
    background-color: var(--grisClaro);
}

main article{
    text-align: center;
    background-color: white;
    width: 90%;
    height: 90%;
}

main img{
    width: 150px;
}

main .precio{
    font-size: var(--precios);
}

main .descuento{
    font-size: var(--descuentos);
    color: var(--verde);
}

main h2{
    color: var(--grisOscuro);
    font-size: var(--titulares);
}

main h4{
    color: var(--grisOscuro);
    font-size: var(--descripciones);
}